.about-image{
    width: 450px;
    height: 350px;
    float: left;
}
.title{
    border-radius:10px;
    text-align: center;
    margin: auto;
    width: 15rem;
    background-color: #D4B2AD;
    border: 100px;
}

.content-section{
    padding-top: 50px;
}
.content h2{
    text-align: center;
}
.content{
    display: flex;
    justify-self: baseline;
}

.content p{
    font-size:x-large;
    padding-top: 50px;
}