
.title{
    font-family: 'Courier New', Courier, monospace;
    border-radius:10px;
    text-align: center;
    margin: auto;
    margin-top: -10px;
    width: 15rem;
    background-color: #D4B2AD;
    border: 100px;
}

.about{
    height: 80vh;
    width: 90%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.about .main .about-image{
    width: 580px;
    max-width: 100%;
    height: auto;
    padding: 0 20px;
}

.all-text{
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
}

.main{
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.all-text h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 65px;
    color: #111111;
    font-weight: 700;
    margin-bottom: 20px;
}
.all-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #777777;
    line-height: 30px;
    margin-bottom: 35px;
}

@media screen and (max-width: 1250px){
    .about{
        width: 100%;
        height: auto;
        padding: 60px 0;
    }
    .all-text{
        text-align: center;
        margin-top: 40px;
    }
}

@media screen and (max-width: 650px){
    .about .main .about-image{
        margin-bottom: 35px;
    }
    .all-text h1{
        font-size: 45px;
        margin-bottom: 20px;
    }
}