 .hero-container{
  width: 100%;
  height: 100%;
  position:relative
   }
.hero-text{
  color: white;
  border-style:dotted;
  position: absolute;
  top: 90%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 100%;
}

