
  #img-hero{
    object-fit: cover;
    width: 100%;
    height: 400px;
    z-index: -1;

  }
 .hero-text{
  color: #BE928F;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  margin-left:  200px;
  transform: translate(-5%, -5%);
  top: 10px;
  left: 10px;
  z-index: 10px;
}

@media screen and (max-width: 555px){
  .hero-text h1{
    font-size: 1.1rem;
    padding: 0 0 2rem 0;
  }
}
