.tittle-pet{
    color: #009FB7;
    text-align: center;
    padding-top: 50px;
  }
  
  .container-box{
    font-family: sans-serif;
    border: 2px solid #009FB7;
    padding: 45px;
    background-color: #E3F2FD;
  }
  
  .img-radius{
    width: 120px;
    height: 120px;
    float: left;
  
  }
  .box.pet{
    padding: 10px;
  }
  
  
  .card-box{
    padding: 300px;
    padding-top: 50px;
  
  }
  
  .input-text{
    border-radius: 10px;
    height: 100px;
    width: 1450px;
  }
  
  
  .input-alive{
    display: flex;
    justify-content: end;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  


.text-a textarea{
    width: 100%;
    height: 100px;
    padding-right: 5px;
    outline: none;
    resize: none;
    font-size: 16px;    
    border-radius: 5px;

}

#image-patient img{
  width: 200px;
  height: 200px;
}

#data-pet{
  color: #BE928F;
  font-size:2cap;
  font-weight: bold;
}

.text-a p{

  font-weight: bold;
}

.ratio{
  border-radius: 30px;
}