.tittle-pet{
    color: #009FB7;
    text-align: center;
  }
  
  .container-box{
    font-family: sans-serif;
    border: 2px solid #009FB7;
    padding: 20px;
    background-color: #E3F2FD;
  }
  
  img{
    width: 120px;
    height: 120px;
    float: left;
    border-radius: 50%;
  
  
  }
  .box.pet{
    padding: 10px;
  }
  
  
  .card-box{
    padding: 200px;
  
  }
  
  .input-text{
    border-radius: 10px;
    height: 100px;
    width: 1450px;
  }
  
  
  .input-alive{
    display: flex;
    justify-content: end;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  


.text-a textarea{
    width: 100%;
    height: 100px;
    padding-right: 5px;
    outline: none;
    resize: none;
    font-size: 16px;    
    border-radius: 5px;

}