
.Register{
    color:#009FB7;
    text-align: center;
  }
  .form-register input[type="name"] {
    margin: auto;
    background-color: rgb(203, 233, 248);
    border-radius: 10px;
    padding: 5px;
  }
  .form-register input[type="email"] {
    margin-bottom: 10px;
    background-color: rgb(203, 233, 248);
    border-radius: 10px;
    padding: 5px;
    margin: auto;
  }
  .form-register input[type="password"] {
    margin-bottom: 10px;
    background-color: rgb(203, 233, 248);
    border-radius: 10px;
    padding: 5px;
  }
  .form-register input[type="password"] {
    margin-bottom: 10px;
    background-color: rgb(203, 233, 248);
    border-radius: 10px;
    padding: 5px;
  }
  .form-register input[type="text"] {
    margin-bottom: 10px;
    background-color: rgb(203, 233, 248);
    border-radius: 10px;
    padding: 5px;
align-items: center;
margin-left: 10px;
  }
  .form-register input[type="tel"] {
    margin-bottom: 10px;
    background-color: rgb(203, 233, 248);
    border-radius: 10px;
    padding: 5px;
  }
  .form-register input[type="tel"] {
    margin-bottom: 10px;
    background-color: rgb(203, 233, 248);
    border-radius: 10px;
    padding: 5px;
  }
.form-register{
  align-items: center;
}
.access-b{
margin-left: 150px;
width: 100px;
height: 40px;

}